*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    font-size: 17px;
    padding: 8px;

}

.container{
    background-color: rgb(234, 203, 150);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightblue;
    border-radius: 4px;
}

input [type="text"],
input [type="email"],
input [type="number"],
input [type="password"],
input [type="date"],
select,

textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin: 10px;

}
fieldset{
    background-color: #ffffff;
    border: 1px solid rgb(220, 206, 206);
}
.main_heading{
    text-align: center;
    background-image: ;
}
input[type="submit"]{
    background-color: rgba(61, 185, 239, 0.845);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(58, 153, 220);
}
input[type="reset"]{
    background-color: rgb(231, 103, 91);
    padding: 5px 10px;
    width: 10%;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
input[type="reset"]:hover{
    background-color: chocolate;
}